<?xml version="1.0" encoding="utf-8" ?>
<FileSysConfigurationSection default ="d:\default" culture ="ru-RU">
  <directories>
    <directory name="d:\aaa"/>
    <directory name="d:\bbb"/>
  </directories>
  <rules>
    <rule filePattern="^([\w]+)+\.(txt|doc|docx|xls|xlsx)$" destination="d:\test\txt" addIndex="false" addDate="false"/>
    <rule filePattern="^([\w]+)+\.(html|xml)$" destination="d:\test\html"  addIndex="true" addDate="true"/>
  </rules>
</FileSysConfigurationSection>