<?xml version="1.0" encoding="utf-8" ?>
<FileSysConfigurationSection default ="d:\default" culture ="ru-RU">
  <directories>
    <directory name="d:\ccc"/>
    <directory name="d:\ttt"/>
  </directories>
  <rules>
    <rule filePattern="^([\w]+)+\.(ts|js)$" destination="d:\test\js" addIndex="true" addDate="false"/>
    <rule filePattern="^([\w]+)+\.(xsd|xml)$" destination="d:\test\xml"  addIndex="false" addDate="true"/>
  </rules>
</FileSysConfigurationSection>